.titleBar{
    background-color: green;
    color: aliceblue;
    text-align: center;
    padding: 10px,15px;
    border-radius: 10px;

}



.counterDisplay{
    
   
    background-color: wheat;
    
    text-align: center;
    
   
   
}



.buttonStyle{
    background-color: green;
    color:aliceblue;
    border-radius: 10px;
    height: 40px;
    width: 120px;

}
.buttonHolder{
   
    text-align: center;
}
.counterElement{
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}
